
<div class="ae-grid au-xs-ta-center au-mb-4">

  <div *ngFor="let persona of _infoEquipo.equipo" class="animate__animated animate__fadeIn animate__fast animate__delay-1s ae-grid__item item-lg-12 ae-kappa au-mb-3">
    <img src="{{persona.url}}" alt="" class="au-mb-3 perfilImage">
    <h5 class="ae-u-bolder au-mt-2 title">{{persona.nombre}}</h5>
    <p class="ae-u-bolder au-mb-3 paragraph">{{persona.subtitulo}}</p>
    <p class="au-lg-ta-center au-mb-3 au-pl-4 au-pr-4 paragraph">{{persona.frase}}</p>
    <a target="_blank" href="mailTo:{{persona.email}}" class="ae-u-bolder au-underline paragraph">{{persona.email}}</a>
  </div>

</div>
<div *ngFor="let persona of _infoEquipo.equipo" class="ae-grid au-pt-2 conocimiento">
  <div class="ae-grid__item item-lg-8 item-lg--offset-2">
    <h4 class="ae-u-bolder title">Sobre mi</h4>
    <!-- {{persona.descripcion1}} -->
    <p class="paragraph" *ngIf="persona.descripcion1">Tecnólogo en sistemas de información promoción 2018 con 1 año de experiencia en desarrollo web MEAN Stack, Android y PHP7, apasionado por la programación y el desarrollo web y móvil.</p>
    <p class="paragraph">Comencé mis estudios de programación en el 2014, donde descubrí gracias al lenguaje Java SE, mi afinidad con la programación, comencé en 2016 a impartir tutorías a mis compañeros de universidad de mi mismo semestre e incluso de semestres más avanzados POO y MySQL.</p>
    <p class="paragraph">En 2017 pensé que la programación no era para mi por algunos problemas técnicos con la cantidad de lenguajes que hay actualmente y al solo saber java, MySQL  y lo básico de la programación web me sentí frustrado, lo dejé un poco de lado y comencé a estudiar redes y comunicaciones (CCNA 1 y 2 de Cisco), posteriormente en 2019 tube la oportunidad de trabajar en una empresa de desarrollo de aplicaciones móviles donde conocí de MEAN stack, PHP, Git, Android e incluso GraphQL.</p>
    <p class="paragraph">Decidí mudar mi recidencia a España, la cual es mi segundo país como colombo-español que soy, debido a la pandemia, mis planes se vieron frustrados y además la empresa quebró en abril del mismo año.</p>
    <p class="paragraph">Actualmente me capacito por Internet, tomando cursos de Udemy y YouTube y reafirmando mis bases de HTML5, CSS3, javascript y PHP, para cuando re abran las fronteras, viajar a España y trabajar con un nivel mucho más alto que el que tenía en enero del presente año.</p>
  </div>
</div>

<div class="ae-grid ae-grid--alt au-xs-ptp-1 conocimiento">
  <h4 class="ae-u-boldest item-lg-12 title">Algunos conocimientos</h4>
  <div *ngFor="let conocimiento of _infoEquipo.conocimiento" class="ae-grid__item--alt item-lg-4">
    <a target="_blank" href="{{conocimiento.ref}}" class="sticker au-lh-3 paragraph">{{conocimiento.nombre}}</a>
    <div class="w3-light-grey w3-round-xlarge">
      <div class="w3-container w3-blue w3-round-xlarge progressBar" style="width:{{conocimiento.valor}}">{{conocimiento.valor}}</div>
    </div>
  </div>
</div>
<p class="au-flex au-pt-4 group-buttons paragraph"><a routerLink="home" class="au-mt-4 arrow-button arrow-button--right arrow-button--out">View Our Portfolio<span class="arrow-cont">
      <svg>
        <use xlink:href="assets/img/symbols.svg#arrow"></use>
      </svg></span></a></p>