/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
#nav{
  margin-right: 80px;
}
#logo{
  font-size: 4ex;
}

.sticker{
  background-color: gray;
  border-radius: 10px;
  display: inline;
  padding-left: 10px;
  padding-right: 10px;
}

.perfilImage{
  height: 400px !important;
  border-radius: 10px;
}

.img{
  height: auto;
}


.conocimiento{
 margin-left: 40px;
}

.progressBar{
  margin-bottom: 20px;
}

.title{
  font-family: 'Merriweather', serif;
}

.paragraph{
  font-family: 'Montserrat', sans-serif; 
}